body {
  font-family: $main-font;
  font-style: normal;
  margin: 0 auto;
  background: $main-bg;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.accent {
  color: $accent-color;
}

.is-hidden {
  display: none;
}
