<!-- team modal -->
<div id="modal-team" class="modal">
    <button type="button" class="team-close-btn">X
        <svg class="icon-cross" width="14" height="14">
            <use href="../images/sprite.svg#" aria-label="Кнопка закрытия модального окна"></use>
        </svg>
    </button>
    <img src="../images/logo.png" alt="logo">
</div>