<!-- SIGN UP MODAL -->
<div id="modal-signup" class="modal">
  <div class="modal-content">
    <h4>Sign up</h4>
    <br />
    <form id="signup-form">
      <div class="input-field">
        <input type="email" id="signup-email" required />
        <label for="signup-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="signup-password" required />
        <label for="signup-password">Choose password</label>
      </div>
      <button class="">Sign up</button>
      <p class="error pink-text center-align"></p>
    </form>
  </div>
</div>

<!-- LOGIN MODAL -->
<div id="modal-login" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <br />
    <form id="login-form">
      <div class="input-field">
        <input type="email" id="login-email" required />
        <label for="login-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="login-password" required />
        <label for="login-password">Your password</label>
      </div>
      <button class="">Login</button>
      <p>
        New user?
        <a href="#" class="modal-trigger" data-target="modal-signup">
          Sign up
        </a>
      </p>
      <p class="error pink-text center-align"></p>
    </form>
  </div>
</div>
<!-- card modal -->
<div id="modal-card" class="data__modal__film modal">
  <div class="modal__film__card">
    <div class="modal__film-close-btn-container">
      <button type="button" class="data__modal__film-close-btn">&#10005;
      </button>
    </div>

    <div class="modal__film__card-content">

      <div class="card-data-insert"></div>

      <div class="modal__btns__down">
        <button type="button" class="data__modal__film-add-to-watched">ADD TO WATCHED</button>
        <button type="button" class="data__modal__film-add-to-queue">ADD TO QUEUE</button>
      </div>

    </div>
  </div>
</div>
<!-- team modal -->
<div id="modal-team" class="modal">
  <button type="button" class="team-close-btn">X
    <svg class="icon-cross" width="14" height="14"><use href="../images/sprite.svg#" aria-label="Кнопка закрытия модального окна"></use></svg>
  </button>
  <img src="../images/logo.png" alt="logo">
</div>