<!-- AUTH BTN LIST -->
<ul id="auth" class="">
  <li class="logged-out is-hidden">
    <a href="#" class="grey-text" id="logout">
      <i class="material-icons"> logout </i>
    </a>
  </li>
  <li class="logged-in is-hidden">
    <a href="#" class="grey-text modal-trigger" data-target="modal-login">
      <i class="material-icons"> perm_identity </i>
    </a>
  </li>
</ul>
<!-- SIGN UP MODAL -->
<div id="modal-signup" class="modal">
  <div class="modal-content">
    <h4>Sign up</h4>
    <br />
    <form id="signup-form">
      <div class="input-field">
        <input type="email" id="signup-email" required />
        <label for="signup-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="signup-password" required />
        <label for="signup-password">Choose password</label>
      </div>
      <button class="btn darken-2 z-depth-0">Sign up</button>
    </form>
  </div>
</div>

<!-- LOGIN MODAL -->
<div id="modal-login" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <br />
    <form id="login-form">
      <div class="input-field">
        <input type="email" id="login-email" required />
        <label for="login-email">Email address</label>
      </div>
      <div class="input-field">
        <input type="password" id="login-password" required />
        <label for="login-password">Your password</label>
      </div>
      <button class="btn darken-2 z-depth-0">Login</button>
    </form>
    <p>
      New user?
      <a href="#" class="grey-text modal-trigger" data-target="modal-signup">
        Sign up
      </a>
    </p>
  </div>
</div>
