
<header class="page-header">
  <div class="container">
    <nav class="site-nav">
      <a class="logo" href="./index.html">
        <img class=" logo-svg" src="./../images/sprite.svg#logo" alt="logo">
        <span class="logo-text">Filmoteka</span>
      </a>
      <ul class="site-nav-link list">
        <li class="item home-js current">
          <a href="./index.html"
            ><span>HOME</span>
        </li>
        <li class="item lib-js">
          <a href="#"
            ><span>MY LIBRARY</span>
        </li>
      </ul>
    </nav>

    <form class="search-form" id="search-form">
      <input
        class="search-form-input"
        type="text"
        name="query"
        autocomplete="off"
      />
    </form>

    <div class="header-button">
      <button class="button watch is-hidden is-active" type="button">
        <span>WATCHED</span>
      </button>
      <button class="button queue is-hidden" type="button">
        <span>QUEUE</span>
      </button>
    </div>
  </div>
</header>
