<!-- SIGN UP MODAL -->
<div id="modal-signup" class="auth-modal modal">
  <div class="modal-content">
    <h4 class="modal-content-title">Sign up</h4>
    <br />
    <form id="signup-form">
      <div class="input-field">
        <input
          class="input-field-data"
          type="email"
          id="signup-email"
          required
        />
        <label class="input-field-label" for="signup-email"
          >Email address</label
        >
      </div>
      <div class="input-field">
        <input
          class="input-field-data"
          type="password"
          id="signup-password"
          required
        />
        <label class="input-field-label" for="signup-password"
          >Choose password</label
        >
      </div>
      <button class="registration-btn">Sign up</button>
      <p class="error pink-text center-align"></p>
    </form>
  </div>
</div>

<!-- LOGIN MODAL -->
<div id="modal-login" class="auth-modal modal">
  <div class="modal-content">
    <h4 class="modal-content-title">Login</h4>
    <br />
    <form id="login-form">
      <div class="input-field">
        <input
          class="input-field-data"
          type="email"
          id="login-email"
          required
        />
        <label class="input-field-label" for="login-email">Email address</label>
      </div>
      <div class="input-field">
        <input
          class="input-field-data"
          type="password"
          id="login-password"
          required
        />
        <label class="input-field-label" for="login-password"
          >Your password</label
        >
      </div>
      <button class="registration-btn">Login</button>
      <p class="modal-signup-question">
        New user?
        <a href="#" class="modal-trigger" data-target="modal-signup">
          Sign up
        </a>
      </p>
      <p class="error pink-text center-align"></p>
    </form>
  </div>
</div>
<!-- card modal -->
<div class="over">
  <div id="modal-card" class="data__modal__film modal">
    <div class="modal__film__card">
      <div class="modal__film-close-btn-container">
        <button type="button" class="data__modal__film-close-btn">
          &#10005;
        </button>
      </div>

      <div class="modal__film__card-content">
        <div class="card-data-insert"></div>
        <div class="modal__btns__down">
          <div class="description-insert"></div>
          <div class="modal-btns">
            <button type="button" class="data__modal__film-add-to-watched">
              ADD TO WATCHED
            </button>
            <button type="button" class="data__modal__film-add-to-queue">
              ADD TO QUEUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- team modal -->
<div class="team-overlay">
  <div id="modal-team" class="modal-team-container modal">
    <div class="modal-team-close-btn-container">
      <button type="button" class="team-close-btn">
        &#10005;
      </button>
    </div>

    <h2 class="team__modal__title">our team</h2>

    <ul class="team-list list">
      <li class="team-list-item link">
        <img src="../images/Andriy1.jpg" alt="Андрій" class="team-list-img" />
        <div class="team-list-content">
          <h3 class="team-list-name">Andriy</h3>
          <p class="team-list-position" lang="en">Team lead, Dev</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-list-link link" href="https://github.com/Mosandr" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item link">
        <img src="../images/TaniaP1.jpg" alt="Тетяна" class="team-list-img" />
        <div class="team-list-content">
          <h3 class="team-list-name">Tetyana</h3>
          <p class="team-list-position" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-list-link link" href="https://github.com/TetianaProshyna" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="https://www.facebook.com/tania.viun" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="https://www.linkedin.com/in/tania-proshyna-97269814a" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item link">
        <img src="../images/Dima1.jpg" alt="Дмитро" class="team-list-img" />
        <div class="team-list-content">
          <h3 class="team-list-name">Dmytro</h3>
          <p class="team-list-position" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-list-link link" href="https://github.com/Dimka333" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item link">
        <img src="../images/Lilia1.jpg" alt="Лілія" class="team-list-img" />
        <div class="team-list-content">
          <h3 class="team-list-name">Liliya</h3>
          <p class="team-list-position" lang="en">Developer</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-list-link link" href="https://github.com/LiliiaSviliak" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-list-item link">
        <img src="../images/TaniaK1.jpg" alt="Тетяна" class="team-list-img" />
        <div class="team-list-content">
          <h3 class="team-list-name">Tetyana</h3>
          <p class="team-list-position" lang="en">Scrum master, Dev</p>
          <ul class="social-list list">
            <li class="social-list-item">
              <a class="social-list-link link" href="https://github.com/TaniaKulibaba" target="_blank">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-list-item">
              <a class="social-list-link link" href="">
                <svg class="social-list-svg">
                  <use href="../images/sprite2.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
