.page-header {
    height: 230px;
    padding-top: 46px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/head-mob.jpg');
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
