.gallery {
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery__list {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery__item {
  @media (min-width: $tablet) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media (min-width: $desktop) {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery__img {
  border-radius: 5px;
}
.gallery__movie-title {
  margin: 0;
  padding-top: 10px;
}

.gallery__movie-genre {
  margin: 0;
  padding-top: 10px;
}

.gallery__movie-rating {
  margin-left: 10px;
  color: $title-dark-theme-color;
  padding: 1px 10px;
  background: $accent-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}
