.page-header {
  height: 230px;
  padding-top: 46px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../../src/images/head-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(
      to right,
      rgba(00, 00, 00, 0.56),
      rgba(00, 00, 00, 0.56)
    ),
    url(../../images/head-mobile@2x.jpg);}
}

.page-header.lib {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../../src/images/lib-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(
      to right,
      rgba(00, 00, 00, 0.56),
      rgba(00, 00, 00, 0.56)
    ),
    url(../../images/lib-mobile@2x.jpg);}
}

.logo-text {
  // display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
}

.container-nav {
  display: flex;
  align-items: center;
}

.site-nav-link {
  display: flex;
  align-items: flex-end;
}

.site-nav-link a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: inherit;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.site-nav-link li {
  cursor: pointer;
  white-space: nowrap;

  &:first-child {
    margin-right: 39px;
  }
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 102%;
  height: 3px;
  left: 0;
  bottom: -2px;

  background: $accent-color;
  border-radius: 2px;
}

.search-form {
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.search-form.is-hidden {
  display: none;
}

.search-form-label {
  position: relative;
}

.search-form-input {
  // display: block;
  font-family: Roboto;
  font-weight: normal;
  width: 100%;
  max-width: 336px;
  height: 20px !important;
  margin: 38px 0 0 22px !important;
  font-size: 14px !important;
  line-height: 16px;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.search-form-input-error {
  color: $accent-color;
}

.search-form__error {
  color: #ff001b;
}

.input-search-btn {
  position: absolute;
  content: '';
  bottom: 0;
  right: -4px;
  background: transparent;
  border: none;
  outline: none;
}

.input-search-svg {
  fill: none;
  stroke: #ffffff;
}

.search-form-input:focus.input-search-svg,
.search-form-input:hover.input-search-svg {
  stroke: $accent-color;
}

.header-button {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.header-button button {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 15px;
  }
  &:focus,
  &:hover {
    border: 2px solid rgba(255, 107, 8, 0.8);
  }
}

.button.is-hidden {
  display: none;
}

@media (min-width: $tablet) {
  .logo-text {
    // display: inline-block;
    opacity: 1;
    margin-left: 12px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }

  .page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../src/images/head-tablet.jpg');

      
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(00, 00, 00, 0.56),
          rgba(00, 00, 00, 0.56)
        ),url(../../images/head-tablet@2x.jpg);
  }
  }
  .page-header.lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/lib-tablet.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(00, 00, 00, 0.56),
          rgba(00, 00, 00, 0.56)
        ),url(../../images/lib-tablet@2x.jpg);  
  }
}
}

@media (min-width: $desktop) {
  .page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../src/images/head-pc.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(00, 00, 00, 0.56),
          rgba(00, 00, 00, 0.56)
        ),url(../../images/head-pc@2x.jpg);
  }
}
  .page-header.lib {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../src/images/lib-pc.jpg');

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(00, 00, 00, 0.56),
          rgba(00, 00, 00, 0.56)
        ),url(../../images/lib-pc@2x.jpg);
  }
}
}

// registration 

.user-registration {
  margin-left: 39px;
}

.logged-in {
  margin: 0;
}
.logged-out {
  margin: 0;
}
.material-icons {
  color: $title-dark-theme-color;
  content: '';
  bottom: -4px;
  right: 0;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

@media (max-width: 342px) {

.site-nav-link li {
  cursor: pointer;
  &:first-child {
    margin-right: 10px;
  }
}

.user-registration {
  margin-left: 10px;
}
}


.modal {
  background-color:rgba(48, 48, 48, 0.9);
}


.modal-content-title {
  color:#ffffff;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

}

.input-field {
  color:$accent-color;
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
 
  &:first-child {
    margin-bottom: 4px;
  }
  }


.input-field-data {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 25px;
  max-width: 200px;
  background-color: honeydew;
  border: none;
  outline:none;
  border-radius: 4px;
}

.registration-btn {
  margin-top: 15px;
  margin-bottom: 10px;
  padding:8px 0 8px 0;
  background-color:$accent-color;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  border: none;
  outline:none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  height: auto;
}

.modal-signup-question {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.modal-trigger {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color:$accent-color;
  white-space: nowrap;
}


.input-field-label {
  display: inline-block;
}

