.movie-pagination {
  &__list {
    display: flex;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &__item {
    display: block;

    &--next,
    &--prev {
      min-width: 40px;
      height: 40px;
      background-color: #f7f7f7;
      border-radius: 5px;
    }

    &.pagination__dots {
      display: none;

      @media (min-width: $tablet) {
        display: block;
        padding-top: 5px;
        padding-bottom: 10px;
      }
    }

    &.pagination__first-last {
      display: none;

      @media (min-width: $tablet) {
        display: block;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: inline-block;
    padding: 13px 3px;
    border-radius: 5px;
    color: $title-color;
    &:hover,
    :focus {
      color: $accent-color;
    }

    &--current-page {
      min-width: 40px;
      height: 40px;
      color: $title-dark-theme-color;
      background-color: $accent-color;

      &:hover,
      :focus {
        color: $title-dark-theme-color;
      }
    }
  }
}
