.backdrop-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms linear;
}

.backdrop-container .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 500ms;
}
