.modal-team-container {
  padding: 50px;
  max-width: 280px;
  max-height: 2000px;
  width: 100%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  overflow: hidden;

  @media (min-width: 320px) {
    position: absolute;
    transform: translate(-50%, -10%);
  }

  @media screen and (min-width: $tablet) {
    max-width: 618px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1100px;
  }
}

.team-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.modal-team-close-btn-container {
  display: flex;
  justify-content: flex-end;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team-list-img {
  width: 180px;
  height: 240px;
  border-radius: 5px;
  justify-content: space-between;
}

.team-close-btn {
  border: none;
  background-color: #fff;
  color: #ff6b01;
}

.team__modal__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ff6b01;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ff6b01;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #ff6b01;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-name {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.team-overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
}
.is-shown-team {
  opacity: 1;
  pointer-events: auto;
}
