<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Filmoteka</title>
  </head>
  <body>
    <!-- <header></header> -->
    <main>
      <section class="gallery">
        <div class="container">
          <ul
            class="gallery__list"
            data-js="movie-gallery"
            data-totalItems="0"
          ></ul>
          <div id="movie-pagination"></div>
        </div>
        <script type="text/html" id="pagination-template">
          <ul class="movie-pagination">
            <% if ((previous)) {%>
            <li class="pagination__previous-item">
              <a href="<%=preparedPreLink + previous %>">&#129120; </a>
            </li>
            <% } %> <% if ((first)&&(current > 4)) { %>
            <li class="pagination__item">
              <a href="<%=preparedPreLink + first %>"><%=first%></a>
            </li>
            <li class="pagination__dots">...</li>
            <% } %> <% for ( var i = 0; i < range.length; i++ ) { %> <% if
            (current === range[i]) {%>
            <li class="movie-pagination__current-page">
              <a href="<%=preparedPreLink %><%=range[i]%>"><%=current%></a>
            </li>
            <% } %> <% if (current !== range[i]){%>
            <li>
              <a href="<%=preparedPreLink %><%=range[i]%>"><%=range[i]%></a>
            </li>
            <% } %> <% } %> <% if ((last)&&(current < (last - 3)) ){%>
            <li class="pagination__dots">...</li>
            <li>
              <a href="<%=preparedPreLink + last %>"><%=last%></a>
            </li>
            <% } %> <% if (next) { %>
            <li class="pagination__next-item">
              <a href="<%=preparedPreLink + next %>">&#129122;</a>
            </li>
            <% } %>
          </ul>
        </script>
      </section>
    </main>
    <!-- <footer></footer> -->
    <div class="backdrop-container is-hidden">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-yellow-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
